@using DormitoryManagement.Models
@using DormitoryManagement.Utils
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DormManagementPro.styles.css" asp-append-version="true" />
</head>
<body class="bg-[#f8f4f3]">
    @{
        var UserSession = SessionUtil.GetObjectFromJson<User>(HttpContextAccessor.HttpContext.Session, "User");
    }

    <div>
        <header class="fixed top-0 left-0 z-50 h-16 w-full transition-transform -translate-x-full sm:translate-x-0 drop-shadow-lg shadow-black" aria-label="Header" ">
            <div class="w-full h-full px-4 flex items-center justify-between bg-gray-100 dark:bg-gray-800">
                <a class="inline-flex items-center" asp-area="" asp-page="/Index">
                    <img src="https://hem.ac.ma/sites/default/files/ftp.png" class="h-6 mr-3 sm:h-7" alt="Flowbite Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Dormitory Management</span>
                </a>
            @if (UserSession != null)
            {
                    <div class="flex items-center">
                        <span class="font-semibold text-gray-900 dark:text-white">@UserSession.Name</span>
                        <span class="w-10 h-10 ml-3 flex items-center justify-center text-blue-900 dark:text-blue-100 bg-blue-300 dark:bg-blue-700 rounded-full"><i class="fa-solid fa-user-tie"></i></span>
                    </div>
            }
            else
            {
                    <div class="flex items-center">
                        <a asp-area="" asp-page="/Account/Register" class="ml-5 px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 hover:shadow-lg active:bg-gray-500">Register</a>
                        <a asp-area="" asp-page="/Account/Login" class="ml-5 px-4 py-2 bg-gray-700 text-white font-semibold rounded-md shadow-md hover:bg-gray-600 hover:shadow-lg active:bg-gray-500">Login</a>
                    </div>
            }

            </div>
        </header>
    </div>

    @if (UserSession != null)
    {
        <div class="">
            <aside id="logo-sidebar" class="fixed top-16 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 drop-shadow-lg shadow-black" aria-label="Sidebar">
                <div class="h-full w-full px-3 py-4 pt-20 flex flex-col justify-between overflow-y-auto bg-gray-100 dark:bg-gray-800">
                    <ul class="space-y-2">
                        <li>
                            <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-300 dark:hover:bg-gray-700"
                               asp-area="" asp-page="/Index">
                                <span class="w-8 text-center">
                                    <i class="fa-solid fa-house"></i>
                                </span>
                                <span class="ml-3">Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-300 dark:hover:bg-gray-700"
                               asp-area="" asp-page="/Privacy">
                                <span class="w-8 text-center">
                                    <i class="fa-solid fa-bed"></i>
                                </span>
                                <span class="flex-1 ml-3 whitespace-nowrap">Privacy</span>
                            </a>
                        </li>
                        <li>
                            <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-300 dark:hover:bg-gray-700"
                               asp-area="" asp-page="/User/Index">
                                <span class="w-8 text-center">
                                    <i class="fa-solid fa-id-card"></i>
                                </span>
                                <span class="ml-3">User</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

        <div class="container w-75 ml-80 mt-24">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
