@page "/"
@using DormitoryManagement.Models
@using DormitoryManagement.Utils
@inject IHttpContextAccessor HttpContextAccessor
@model DormitoryManagement.Pages.HomeModel
@{
    var UserSession = SessionUtil.GetObjectFromJson<User>(HttpContextAccessor.HttpContext.Session, "User");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @if (UserSession == null)
    {
        <div class="flex items-center flex-col">
            <img src="https://ocd.fpt.edu.vn/Content/images/landing/bg3.jpg" alt="Dormitory" class="h-full w-full object-cover absolute top-0 left-0">
            <div class="z-40 absolute top-0 left-0 w-full h-full bg-black/30"></div>
            <h1 class="z-40 absolute flex justify-center mt-32 text-6xl font-bold text-white font-sans drop-shadow-lg shadow-black tracking-widest border-b border-white pb-4 px-4">HOLA CAMPUS</h1>
            <h3 class="z-40 absolute flex justify-center mt-56 text-3xl font-md text-white font-sans drop-shadow-lg shadow-black tracking-widest">DORMITORY MANAGEMENT SYSTEM</h3>
        </div>
    }
    else
    {



        <div class="grid grid-cols-2 gap-4">
            @if (UserSession.RoleId == 2)
            {
                <a asp-page="/Home" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/homepage.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">Home Page</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">Go to the Homepage of Dormitory Management</p>
                    </div>
                </a>

                <a asp-page="/MyProfile" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/userprofile.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">My Profile</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">See my user profile</p>
                    </div>
                </a>
                <a asp-page="/Booking/MyRoom" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/myroom.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">My Room</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">See my current accommodation information</p>
                    </div>
                </a>


                <a asp-page="/Booking/ViewRoom" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/bookroom.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">Book Room</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">View available rooms and send booking request</p>
                    </div>
                </a>


                <a asp-page="/Booking/BookingResult" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/bookingrequest.png" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">My Booking Request</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">See my booking request</p>
                    </div>
                </a>


                <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/bills.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">My Bills</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">See my bills</p>
                    </div>
                </a>
            } else
            {
                <a asp-page="/" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/homepage.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">Dashboard</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">Go to dashboard page</p>
                    </div>
                </a>
                <a asp-page="/MyProfile" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/userprofile.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">My Profile</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">View my user profile</p>
                    </div>
                </a>
                <a asp-page="/Admin/UserManagement" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/usermana.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">User Management</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">View users and change role</p>
                    </div>
                </a>
                <a asp-page="/Admin/RoomManagement" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/bookroom.jpg" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">Room Management</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">View rooms and edit rooms</p>
                    </div>
                </a>
                <a asp-page="/Admin/BookingRequest" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-full md:w-48 md:rounded-none md:rounded-s-lg" src="~/img/bookingrequest.png" alt="">
                    <div class="flex flex-col justify-between px-4 py-2 leading-normal">
                        <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 ">Pending Requests</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">View pending requests</p>
                    </div>
                </a>
            }
        </div>
    }
</body>
</html>